div.section-1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

h2 {
  text-decoration: none;
  text-transform: uppercase;
  align: left;
}

img {
  /* untuk membuat oval pada gambar */
  border-radius: 50%;
}
