* {
  box-sizing: border-box;
  /* untuk menjaga konten agar tak keluar layar */
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
    /* float: right;  jika ingin dimulai dari kanan*/
    float: left;  /*jika ingin dimulai dari kiri */
    padding: 15px;
}

html {
  /* font-family: Arial, Helvetica, "sans-serif"; */
  font-family: "Times New Roman", sans-serif;
}
/* for Desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* CSS untuk mengatur coloumn dengan jumlah total 12 colom dan skala 100% */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

a {
  color: black;
}

a:hover {
  color: #139849;
}

a:link {
  color: black;
}

a:active {
  color: black;
}

body {
  display: inline-flex;
}

#profil {
  background-color: #ffffff;
  padding:  20px 10px;
  color: #00688E;
  text-align: center;
}

h3 {
  text-decoration: none;
  text-transform: uppercase;
  align: left;
}

img {
  /* untuk membuat oval pada gambar */
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

table {
  width: 100%;
}

th {
  background-color: #82E0AA;
}

tr:hover {
  background-color: #D4EFDF;
}
